IDI_ICON    ICON    "../assets/webpier.ico"
IDB_RED     RCDATA  "../assets/red.png"
IDB_GREEN   RCDATA  "../assets/green.png"
IDB_BLUE    RCDATA  "../assets/blue.png"
IDB_GREY    RCDATA  "../assets/grey.png"
IDB_ADD     RCDATA  "../assets/add.png"
IDB_EDIT    RCDATA  "../assets/edit.png"
IDB_DELETE  RCDATA  "../assets/delete.png"